@use "./variables.scss" as *;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

html {
  font-family: "Barlow", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: $light;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 1200px) {
    max-width: 1400px;
    padding: 0 40px;
  }

  @media (min-width: 1920px) {
    max-width: 1600px;
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}
