@use "./base/variables" as *;


.about {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    margin-bottom: 40px;
  }

  &-content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &-im {
      width: 340px;
      height: 234px;
      box-shadow: 3px 3px 6px $dark;
      object-fit: cover;
    }

    &-text {

      display: flex;
      flex-direction: column;

      &-paragraph {
        margin-bottom: 10px;
        line-height: 1.2;
      }
    }
  }
}


@media (min-width: 768px) {
  .about {
    &-content {
      &-im {
        width: 600px;
        height: 412px;
      }
    }
  }
}


@media (min-width: 1200px) {
  .about {
    &-content {
      flex-direction: row;
      align-items: flex-start;

      &-im {
        width: 500px;
        height: 378px;
      }
    }
  }
}


@media (min-width: 1920px) {
  .about {
    &-content {
      &-im {
        width: 700px;
        height: 481px;
      }
    }
  }
}


.find {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  &-title {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  &-map {
    margin-top: 40px;
    width: 340px;
    height: 206px;
    object-fit: cover;
  }
}


@media (min-width: 768px) {
  .find {
    &-map {
      width: 663px;
      height: 400px;
    }
  }
}


@media (min-width: 1200px) {
  .find {
    &-map {
      width: 663px;
      height: 500px;
    }
  }
}

@media (min-width: 1920px) {
  .find {
    &-map {
      width: 663px;
      height: 600px;
    }
  }
}
