@use "./base/mixins.scss" as *;
@use "./base/variables" as *;


.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h1 {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .blog {
    h1 {
      margin-left: -7%;
      align-self: center;
    }
  }
}

@media (min-width: 1200px) {
  .blog {
    margin-top: 30px;
  }
}


.blog_feed {
  -container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
  }

  &__element {
    width: 340px;
    border: 1px solid $dark;
    box-shadow: 3px 3px 6px $dark;
    background-color: white;

    &__header {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      gap: 30px;

      &-im {
        width: 340px;
        height: 240px;
        object-fit: cover;
      }

      &-title_block {
        display: flex;
        flex-direction: column;
        margin-left: 30px;

        &-title {
          margin-bottom: 20px;
          font-size: 24px;
        }

        &__button {
          width: 145px;
          height: 30px;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    &-text {
      margin: 0 30px 20px 30px;
      line-height: 1.3;
    }
  }
}


@media (min-width: 768px) {
  .blog_feed {
    -container {
      position: relative;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 40px 15px;

      &::after {
        -content: '';
        position: absolute;
        top: -20px;
        left: -20px;
        width: 200px;
        height: 200px;
        background:
                linear-gradient(to right, $dark 1px, transparent 1px) top right,
                linear-gradient(to bottom, $dark 1px, transparent 1px) top right,
                no-repeat;
      }
    }

    &__element {
      width: 670px;

      &__header {
        flex-direction: row;

        &-im {
          width: 335px;
          height: 240px;
        }

        &-title_block {
          margin-left: 0;
          margin-top: 20px;
          justify-content: space-between;
        }
      }
    }
  }
}


@media (min-width: 1200px) {
  .blog_feed {
    -container {
      margin-top: 80px;
      margin-bottom: 0;
      align-items: flex-start;
      gap: 50px;

      &::after {
        top: -25px;
        left: -25px;
      }
    }

    &__element {
      width: 520px;

      &__header {
        flex-direction: row;

        &-im {
          width: 260px;
          height: 240px;
        }

        &-title_block {
          margin-left: 0;
          margin-top: 20px;
          justify-content: space-between;
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  .blog_feed {
    &__element {
      width: 670px;

      &__header {
        &-im {
          width: 335px;
          height: 240px;
        }
      }
    }
  }
}
