@use "./base/variables.scss" as *;

.main-page {
  padding-top: 40px;
  align-items: center;
  text-align: center;

  &-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
  }

  &-info-part {
    display: flex;
    flex-direction: column;
  }

  &-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-quote {
    margin-block-start: 50px;
    padding-inline: 2.5px;
    max-width: 600px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  &-title {
    margin-block-start: 50px;
    padding-inline: 2.5px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  &-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-im {
    margin: 20px auto 0 auto;
    width: 100%;
    max-width: 400px;
    height: 500px;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

}


.CheckboxContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.contactIcon {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}

.contactIconImg {
  width: 85px;
  height: 85px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .main-page {
    &-main-content {
      flex-direction: row;
      align-items: flex-end;
      text-align: left;
    }

    &-text {
      display: flex;
      align-self: center;
      align-items: center;
      width: 329px;
    }

    &-quote {
      text-align: left;
      margin-left: 60px;
    }

    &-image {
      margin-right: -60px;
    }

    &-im {
      width: 230px;
      height: 321px;
    }

  }
}

@media (min-width: 1200px) {
  .main-page {
    padding-top: 80px;

    &-content {
      gap: 0;
    }

    &-main-content {
      margin-left: 500px;
    }

    &-info-part {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding-left: 30px;
    }

    &-quote {
      width: 329px;
      margin-left: 0;
    }

    &-text {
      align-items: flex-end;
      margin-top: 150px;
    }

    &-image {
      margin-right: 0;
    }

    &-im {
      width: 230px;
      height: 321px;
      gap: 0;
    }

  }
}

@media (min-width: 1920px) {
  .main-page {

    &-content {
      gap: 100px;
    }

    &-info-part {
      gap: 50px;
    }

    &-text {
      align-items: flex-end;
      margin-top: 200px;
    }

    &-quote {
      text-align: left;
    }

    &-im {
      width: 330px;
      height: 460px;
    }

  }
}


.bigbig-img {
  display: none;
}

@media (min-width: 1200px) {
  .bigbig-img {
    position: absolute;
    display: flex;
    width: 420px;
    height: 623px;
  }
}

@media (min-width: 1960px) {
  .bigbig-img {
    position: absolute;
    display: flex;
    width: 640px;
    height: 900px;
  }
}


.store {
  text-align: left;
  margin: 50px 0;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-im {
    margin: 40px auto 0 auto;
    width: 100%;
    max-width: 500px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: 768px) {
  .store {
    &-text {
      display: flex;
      align-self: center;
      align-items: center;
      width: 500px;
    }

    &-im {
      width: 530px;
      height: 304px;
    }
  }
}

@media (min-width: 1200px) {
  .store {
    margin: 80px 0;

    &-text {
      width: 436px;
    }

    &-im {
      width: 436px;
      height: 250px;
    }
  }
}

@media (min-width: 1920px) {
  .store {
    margin: 100px 0;

    &-im {
      max-width: 556px;
      height: 320px;
    }
  }
}


.workshop {
  text-align: left;
  margin: 50px 0;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-im {
    margin: 40px auto 0 auto;
    width: 100%;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: 768px) {
  .workshop {
    &-text {
      display: flex;
      align-self: center;
      align-items: center;
      width: 500px;
    }

    &-im {
      width: 530px;
      height: 200px;
    }
  }
}

@media (min-width: 1200px) {
  .workshop {
    margin: 80px 0;

    &-text {
      width: 664px;
    }

    &-im {
      width: 664px;
      height: 250px;
    }
  }
}

@media (min-width: 1920px) {
  .workshop {
    &-text {
      align-self: flex-start;
      width: 556px;
    }

    &-im {
      width: 884px;
      height: 320px;
    }
  }
}

.contact {
  position: relative;

  h1.title-h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &-form-field {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }

  &-tea {
    display: none;
  }

  &__link {
    color: $purple;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-tea-img {
    width: 120px;
    height: 90px;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }


}

@media (min-width: 768px) {
  .contact {
    &-content {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 50px;
    }
    .input-container {
      flex: 1 1 calc(50% - 20px);
      max-width: 340px;
    }

  }
  .contactIcon {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
  }
}

@media (min-width: 1200px) {
  .contact {
    &-content {
      gap: 80px;
    }

    &-form {
      flex-direction: row;
      align-items: flex-start;
      gap: 20px;
    }

    &-tea {
      display: block;
      flex-shrink: 0;
    }

    &-tea-img {
      width: 550px;
      height: 342px;
    }

    &-form-field {
      width: 100%;
    }
  }
}

@media (min-width: 1920px) {
  .contact {
    &-content {
      margin-top: 80px;
    }

    &-form-field {
      padding-left: 100px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: auto;
      gap: 0 40px;

      :nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1;
      }

      :nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1;
      }

      :nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2;
      }

      :nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 3;
      }

      :nth-child(5) {
        grid-column: 1 / -1;
        grid-row: 4;
      }
    }

    &-tea-img {
      width: 600px;
      height: 380px;
    }
  }

}

