@use "./base/reset.scss";
@use "./base/mixins.scss";
@use "./base/variables.scss";
@use "./base/basic.scss";

@use "./ui/titles.scss";
@use "./ui/buttons.scss";
@use "./ui/inputs.scss";
@use "./blocks/header.scss";
@use "./blocks/footer.scss";
@use "./blocks/gallery.scss";


@use "./home.scss";
@use "./catalog.scss";
@use "./about.scss";
@use "./blog.scss";
