@use "../base/variables.scss" as *;

.gallery-swiper {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background: none;
    -webkit-tap-highlight-color: transparent;
    color: #000;
  }

  h1.title-h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .galleryIm {
    width: 340px;
    height: 220px;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  .swiper-pagination {
    position: static;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #232323;
    opacity: 1;
    border-radius: 2px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: #C69978;
      transform: scale(1.1);
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #C69978;
    transform: scale(1.2);
  }
}

@media (min-width: 768px) {
  .gallery-swiper {
    width: 450px;

    .galleryIm {
      width: 400px;
      height: 250px;
    }
  }
}

@media (min-width: 1200px) {
  .gallery-swiper {
    position: relative;
    width: 1200px;

    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
    }

    .galleryIm {
      width: 350px;
      height: 230px;
    }
  }
}

@media (min-width: 1920px) {
  .gallery-swiper {
    width: 1400px;

    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
    }

    .galleryIm {
      width: 400px;
      height: 265px;
    }
  }
}
