@use "../base/variables.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 50px;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-logotype {
  align-self: center;
  width: 80px;
  height: 80px;
}

.header-logotype img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-navig {
  display: none;
  gap: 30px;
}

.header-navig-link {
  color: $dark;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  transition: color 0.3s ease;

  &:hover {
    color: $ceramic;
  }
}

.header-icon {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    display: block;
  }
}

.icon-search,
.icon-bag {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.header-icon a:hover .icon-search,
.header-icon a:hover .icon-bag {
  filter: brightness(0) saturate(100%) invert(60%) sepia(10%) hue-rotate(340deg);
}

.burger {
  display: flex;
  height: 23px;
  flex-direction: column;
  row-gap: 4px;
  cursor: pointer;
  transition: all 0.3s ease;

  span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: $dark;
    transition: all 0.3s ease;
  }

  &:hover span {
    background-color: $ceramic;
  }
}

@media (min-width: 768px) {
  .header {
    margin-left: 50px;
  }

  .header-content {
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
  }

  .header-navig {
    display: flex;
  }

  .header-icon {
    gap: 15px;
  }

  .burger {
    display: none;
  }

  .icon-search,
  .icon-bag {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 1200px) {
  .header {
    margin-left: 100px;
  }

  .header-logotype {
    width: 100px;
    height: 100px;
  }

  .header-navig {
    gap: 40px;
  }

  .header-navig-link {
    font-size: 20px;
  }

  .header-icon {
    gap: 25px;
    margin-right: 30px;
  }

  .icon-search,
  .icon-bag {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 1920px) {
  .header-logotype {
    width: 150px;
    height: 150px;
  }

  .header-navig {
    gap: 50px;
  }

  .header-navig-link {
    font-size: 24px;
  }

  .header-icon {
    gap: 30px;
  }

  .icon-search,
  .icon-bag {
    width: 32px;
    height: 32px;
  }
}
