@use "../base/mixins.scss" as *;
@use "../base/variables.scss" as *;

.default-button {
  @include button;
  width: 230px;
  height: 50px;
  font-size: 20px;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: black;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  &:active {
    background-color: white;
    color: $dark;
    box-shadow:
            inset 0 -2px 6px 2px rgba(0, 0, 0, 0.15),
            inset 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: none;
  }
}
.footer-button {
  background: transparent;
  border: 1px solid white;
  color: white;

  &:hover {
    background: white;
    color: $dark;
    border-color: white;
  }

  &:active {
    background: transparent;
    color: white;
    border-color: white;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.4);
  }
}

