@use "../base/mixins.scss" as *;

.h1-title-style {
  @include title;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
}

.title-h1 {
  @include title;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 32px;
  }

  @media (min-width: 1200px) {
    font-size: 40px;
  }

  @media (min-width: 1920px) {
    font-size: 40px;
  }
}

.title-h2 {
  @include title;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 24px;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}

.paragraph {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  max-width: 600px;
  margin: 0;
  text-align: left;
  color: #666;

  @media (min-width: 768px) {
    font-size: 20px;
    font-weight: 400;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
    max-width: 700px;
  }

  @media (min-width: 1920px) {
    font-size: 20px;
    max-width: 800px;
  }
}
